<p id="notice"><%= notice %></p>

<p>
  <strong>Setup:</strong>
  <%= @joke.setup %>
</p>

<p>
  <strong>Punchline:</strong>
  <%= @joke.punchline %>
</p>

<%= link_to 'Edit', edit_joke_path(@joke) %> |
<%= link_to 'Back', jokes_path %>
